:root {
    --accent-color: #f07167;
    --button-color: #555;
    --button-hover-color: #333;
    --back-button-color: #555;
    --back-button-hover-color: #444;
    --container-background: #333;
    --slider-track-color: rgba(255, 255, 255, 0.1);
    --body-background: hsl(204, 10%, 20%);
    --border-color: black;
    --text-color: white;
    --text-highlight-color: rgba(255, 153, 0, 0.75);
    --grid-border-color: white;
    --grid-border-width: 2px;
    --grid-color: none;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#gameContainer {
    width: 90%;
    max-width: 1000px;
    height: 90%;
    max-height: 800px;
    position: relative;
}

#gameContainerInner {
    width: calc(100% + 4rem);
    height: calc(100% + 2.5rem - 4px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    transform: translateX(-2rem) translateY(calc(-1.5rem + 4px));
}

::selection {
    background: var(--text-highlight-color);
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.1s;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.screen.active {
    opacity: 1;
}

#title {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.gameButton {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--border-color);
    background-color: var(--button-color);
    color: var(--text-color);
    margin: 5px;
    border-radius: 8px; 
    box-shadow: 3px 3px 0px 0px var(--border-color);
}

.gameButton:hover {
    background-color: var(--button-hover-color);
}

.backButton {
    position: absolute;
    top: 3px;
    left: 16px;
}

.backButton:hover {
    background-color: var(--back-button-hover-color);
}

.gameModeDesc {
    font-size: 0.75rem;
}

.gameModeDescTitle {
    font-size: 1rem;
    margin-bottom: 16px;
}





#gameGrid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% + 6px);
    margin: -3px;
}

.gridCell {
    width: 100%;
    height: 100%;
    border: var(--grid-border-width) solid var(--grid-border-color);
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--grid-color);
    padding: 2%;
}

.gridCell.selected {
    background-color: rgba(241,230,108, 0.35);
}

.gridCell.drawing {
    background-color: rgba(241,230,108, 0.1);
}

.gridRow {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.gameButtons {
    margin-top: 20px;
}

.innerGridCell {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    
    border-image-repeat: stretch;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-style: solid;
    border-color: transparent;
}

.figureContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.figureContainerRow {
    display: flex;
    width: 100%;
    height: 100%;
}




.scores {
    position: absolute;
    top: 3px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: goldenrod;
}

.scores>p {
    margin-bottom: 4px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(0,0,0,.3);*/
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
}









.sliderLabel {
    color: var(--text-color);
    width: 60%;
    text-align: right;
}

.sliderInput {
    width: 40%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px;
}

.sliderValue {
    color: var(--text-color);
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    width: 50px;
    margin-left: 10px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sliderValue:focus {
    box-shadow: 0 2px 0 -1px var(--accent-color); /* adding a top shadow as well on focus */
}

.sliderValue::-webkit-inner-spin-button,
.sliderValue::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="range"] {
	color: #f07167;
	--thumb-height: 1.125em;
	--track-height: 0.125em;
	--track-color: rgba(255, 255, 255, 0.1);
	--brightness-hover: 180%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
    position: relative;
	background: #fff0;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: pointer; /* grabbing */
}

input[type="range"]:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	position: relative;
}

input[type="range"]::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
		50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

input[type="range"]:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

input[type="range"]:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	background: #fff0;
}

input[type="range"]::-moz-range-thumb {
	background: currentColor;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

input[type="range"]:active::-moz-range-thumb {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
}

input[type="range"]::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
	filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
	cursor: not-allowed;
}





::-webkit-scrollbar {
    display: none;  /* Hide scrollbar */
}










/* Add a dark mode for buttons */
.nes-btn.is-dark {
    color:#212529;
    text-decoration:none;
    background-color:#e7e7e7;
}

.nes-btn.is-dark:hover {
    color:#212529;
    text-decoration:none;
    background-color:#d6d6d6;
}

/* Fix rounded containers */
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution:0.001dpcm) {
    .nes-dialog.is-rounded.is-dark,
    .nes-container.is-rounded.is-dark {
        border-image-repeat: stretch;
    }
}

.nes-dialog.is-rounded.is-dark {
    border-image-outset: 2;
}

/* Fix container title position (off by 0.75px) */
.nes-container.with-title.is-centered>.title {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(-2rem + 0.75px);
    margin-bottom: 1rem;
}








.color-button {
    width: 44px;
    height: 44px;
    margin: 5px;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="8" height="8" xmlns="http://www.w3.org/2000/svg"><path d="M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z" fill="rgb(255, 255, 255)" /></svg>');
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    border-width: 4px;
    border-radius: 20px;
    box-sizing: border-box;
    border-image-repeat: stretch;
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-outset: 1;
    border-style: solid;
    border-color: transparent;
}
